html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;

    justify-content: center;
    align-items: center;
}

body {
    background: #444;
}

#canvas {
    border: 2px solid #000;
    background-color: #fff;
}
